<div class="container">
	<div class="loginCtn">
		<h2>Inicia sesión</h2>
		<form [formGroup]="loginForm" (submit)="onSubmit()">
			<mat-form-field appearance="outline">
				<mat-label>Correo electronico</mat-label>
				<input matInput type="email" placeholder="email@email.com" required formControlName="email"
					autocomplete="off" >
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Contraseña</mat-label>
			<input matInput type="password" required formControlName="password" />
			
		   </mat-form-field>
		   <button mat-flat-button type="submit">Ingresar</button>
		</form>
	</div>
	<label>¿Olvidaste tu contraseña?</label>
	<div *ngIf="showUser">
		<label>El estado de email: {{emailStatus}}</label>
	</div>
</div>