.loginCtn {
  display: flex;
  flex-flow: column;
  min-width: 300px;
  width: 50%;
  max-width: 800px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 5px #bbb;

  label {
    color: #bebebe;
  }
}

label {
  margin: 12px 0;
  color: rgb(129, 189, 39);
}
form{
  text-align: center;
}
.mat-form-field {
 display: block;
}

button {
  background-color: lightseagreen;
width: 200px;
color: white;
}

h2 {
  text-align: center;
}
