<app-navbar></app-navbar>
<div class="content">
	
	<h1>Bienvenidos al Restaurante de {{ restaurantName }}</h1>

	<button mat-flat-button color="primary"(click)="createDishPage()">
		Crear nuevo plato
	</button>

	<div class="" *ngIf="isLoading">
		<h2>Cargando ...</h2>
	</div>

	<div class="dishCard" *ngFor="let dish of dishes">
		<img 
		[src]="dish.image" 
		[alt]="dish.name" 
		width="105px" 
		height="95px" 
		/>
		<div>
			<p class="dishName">{{ dish.name }}</p>
			<p class="dishDescription">{{ dish.description }}</p>
			<p class="dishDescription">unidades. {{ dish.stock }}</p>
			<p class="price">S/ {{ dish.price }}</p>
		</div>
	</div>
</div>
 