/* You can add global styles to this file, and also import other style files */
body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    max-width: 100vw;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
    flex-flow: column;
}
html, body { height: 100%; }
body { margin: 0;  }
